﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditView</title>
</head>
<body>
    <div>
       @using (@Html.BeginForm("Index", "Content", FormMethod.Post, new { @class = "form-horizontal" }))
       {

        @Html.HiddenFor(x => x.Id, new { @class = "form-control" })

        <div class="form-group">
            <div class="col-xs-4"> @Html.LabelFor(x => x.DefaultName, new { @class = "form-lbl" }) </div>
            <div class="col-xs-8"> @Html.TextBoxFor(x => x.DefaultName, new { @class = "form-tb" }) </div>
        </div>

        <div class="form-group">
            <div class="col-xs-4"> @Html.LabelFor(x => x.IsManual, new { @class = "form-lbl" }) </div>
            <div class="col-xs-8"> @Html.TextBoxFor(x => x.IsManual, new { @class = "form-tb" }) </div>
        </div>

        <div class="form-group">
            <div class="col-xs-4"> @Html.LabelFor(x => x.Active, new { @class = "form-lbl" }) </div>
            <div class="col-xs-8"> @Html.TextBoxFor(x => x.Active, new { @class = "form-tb" }) </div>
        </div>

        <div class="form-group">
            <div class="col-xs-4"> @Html.LabelFor(x => x.WorkName, new { @class = "form-lbl" }) </div>
            <div class="col-xs-8"> @Html.TextBoxFor(x => x.WorkName, new { @class = "form-tb" }) </div>
        </div>


        <div class="form-group">
            <input type="submit" name="SubmitLogin" value="Save" class="btn btn-danger right" />
        </div>



       }
    </div>
</body>
</html>
