﻿@{
    Layout = null;
    @model SmsCrud.Model.Content
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditUser</title>
</head>
<body>
<div>
    
   @using (@Html.BeginForm("SaveEdit", "Content", FormMethod.Post, new {@class = "form-horizontal", @id="content-form"}))
    {

        @Html.HiddenFor(x => x.Id, new {@class = "form-control"})

        <div class="form-group">
            <div class="col-xs-4"> @Html.LabelFor(x => x.DefaultName, new {@class = "form-lbl"}) </div>
            <div class="col-xs-8"> @Html.TextBoxFor(x => x.DefaultName, new {@class = "form-tb"}) </div>
        </div>

        <div class="form-group">
            <div class="col-xs-4"> @Html.LabelFor(x => x.IsManual, new {@class = "form-lbl"}) </div>
            <div class="col-xs-8"> @Html.TextBoxFor(x => x.IsManual, new {@class = "form-tb"}) </div>
        </div>

        <div class="form-group">
            <div class="col-xs-4"> @Html.LabelFor(x => x.Active, new {@class = "form-lbl"}) </div>
            <div class="col-xs-8"> @Html.TextBoxFor(x => x.Active, new {@class = "form-tb"}) </div>
        </div>

        <div class="form-group">
            <div class="col-xs-4"> @Html.LabelFor(x => x.WorkName, new {@class = "form-lbl"}) </div>
            <div class="col-xs-8"> @Html.TextBoxFor(x => x.WorkName, new {@class = "form-tb"}) </div>
        </div>


        <div class="row-fluid">
            <input type="button" name="SubmitLogin" id="save-edit" value="Update" class="btn btn-danger right"/>
            <input type="button" name="SubmitLogin" id="btn_cancel" value="Cancel" onclick=" closeDialog(this)"  class=" btn btn-danger right" />
        </div>



   }
</div>


<script>
    $(function() {


    });
    debugger;
    $("#save-edit").click(function () {
        $.ajax({
            url: '@Url.Action("SaveEdit","Content")',
            type: "post",
            data: $("#content-form").serialize(),
            dataType: "json",
            success: function (response) {
                 if (response.Result == "Success") {
                   showSuccessMessage("message", response.Message);
                  }
                $("#btn_cancel").trigger("click");
                $("#content-list").trigger('refresh');
            }

        });
    });
</script>

</body>
</html>
