﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Styles/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
</head>
<body>

    <div class="container-fluid">
        <nav class="nav navbar-static-top navbar-inverse">
            <div class="navbar-header">
                <div class="navbar-brand headerText"> SMS CRUD </div>

            </div>

            <ul class="nav-tab pull-right">
                <a href="@Url.Action("Index","Content")">
                    <li> Content </li>
                </a>

                <a href="@Url.Action("Index", "ContentData")">
                    <li> ContentData </li>
                </a>

                <a href="#">
                    <li> Subscription </li>
                </a>

                <a href="@Url.Action("Index","Service")">
                    <li> Service </li>
                </a>

            </ul>
        </nav>

    

    @RenderBody()
</div>


</body>
</html>
