
.headerText{ color:white !important;   font-size:large }

.form-tb{ height: 30px; }
.form-lbl {  font: 15px/10px Georgia, sans-serif; }
.maincontainer{ margin: 20px 0px; }

.lpanel{ border-right: 2px solid gray; }

.nav-tab li { display: inline-block; color: white; padding: 5px 20px;margin-top: 10px;  }