﻿@{
    Layout = null;
    @model SmsCrud.Model.ContentData
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditUser</title>
</head>
<body>
<div>
    @using (@Html.BeginForm("Index", "ContentData", FormMethod.Post, new {@class = "form-horizontal", @id = "contentData-form"}))
    {

        @Html.HiddenFor(x => x.Id, new {@class = "form-control"})

        <div class="form-group">
            <div class="col-xs-4"> @Html.LabelFor(x => x.Text, new {@class = "form-lbl"}) </div>
            <div class="col-xs-8"> @Html.TextBoxFor(x => x.Text, new {@class = "form-tb"}) </div>
        </div>

        <div class="form-group">
            <div class="col-xs-4"> @Html.LabelFor(x => x.ContentID, new {@class = "form-lbl"}) </div>
            <div class="col-xs-8"> @Html.TextBoxFor(x => x.ContentID, new {@class = "form-tb"}) </div>
        </div>

        <div class="form-group">
            <div class="col-xs-4"> @Html.LabelFor(x => x.DatetimeInserted, new {@class = "form-lbl"}) </div>
            <div class="col-xs-8"> @Html.TextBoxFor(x => x.DatetimeInserted, new {@class = "form-tb"}) </div>
        </div>

        <div class="form-group">
            <div class="col-xs-4"> @Html.LabelFor(x => x.Language, new {@class = "form-lbl"}) </div>
            <div class="col-xs-8"> @Html.TextBoxFor(x => x.Language, new {@class = "form-tb"}) </div>
        </div>

        <div class="form-group">
            <div class="col-xs-4"> @Html.LabelFor(x => x.SpecificParam, new {@class = "form-lbl"}) </div>
            <div class="col-xs-8"> @Html.TextBoxFor(x => x.SpecificParam, new {@class = "form-tb"}) </div>
        </div>

        <div class="row-fluid">
            <input type="button" name="SubmitLogin" id="save-edit" value="Save" class="btn btn-danger right"/>
            <input type="button" name="SubmitLogin" id="btn_cancel" value="Cancel" onclick=" closeDialog(this) " class="btn btn-danger right"/>
        </div>
    }
</div>

    <script>
    $(function() {


    });
    debugger;
    $("#save-edit").click(function () {
        $.ajax({
            url: '@Url.Action("SaveEdit","ContentData")',
            type: "post",
            data: $("#contentData-form").serialize(),
            dataType: "json",
            success: function (response) {
                 if (response.Result == "Success") {
                   showSuccessMessage("message", response.Message);
                  }
                $("#btn_cancel").trigger("click");
                $("#contentData-list").trigger('refresh');
            }
        });
    });
    </script>


</body>
</html>
