﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @model SmsCrud.Model.ContentData
}


<div class="row-fluid form-group">
    <div id="message" style="display: none"></div>
</div>

<div class="content maincontainer">
    <div class="col-xs-3">
        @using (@Html.BeginForm("Index", "ContentData", FormMethod.Post, new { @class = "form-horizontal" }))
        {

            @Html.HiddenFor(x => x.Id, new { @class = "form-control" })

            <div class="form-group">
                <div class="col-xs-4"> @Html.LabelFor(x => x.Text, new { @class = "form-lbl" }) </div>
                <div class="col-xs-8"> @Html.TextBoxFor(x => x.Text, new { @class = "form-tb" }) </div>
            </div>

            <div class="form-group">
                <div class="col-xs-4"> @Html.LabelFor(x => x.ContentID, new { @class = "form-lbl" }) </div>
                <div class="col-xs-8"> @Html.TextBoxFor(x => x.ContentID, new { @class = "form-tb" }) </div>
            </div>

            <div class="form-group">
                <div class="col-xs-4"> @Html.LabelFor(x => x.DatetimeInserted, new { @class = "form-lbl" }) </div>
                <div class="col-xs-8"> @Html.TextBoxFor(x => x.DatetimeInserted, new { @class = "form-tb" }) </div>
            </div>

            <div class="form-group">
                <div class="col-xs-4"> @Html.LabelFor(x => x.Language, new { @class = "form-lbl" }) </div>
                <div class="col-xs-8"> @Html.TextBoxFor(x => x.Language, new { @class = "form-tb" }) </div>
            </div>

            <div class="form-group">
                <div class="col-xs-4"> @Html.LabelFor(x => x.SpecificParam, new { @class = "form-lbl" }) </div>
                <div class="col-xs-8"> @Html.TextBoxFor(x => x.SpecificParam, new { @class = "form-tb" }) </div>
            </div>

            <div class="row-fluid">
                <input type="submit" name="SubmitLogin" value="Save" class="btn btn-danger right" />
            </div>



        }
    </div>


    <div class="col-xs-9">
        <div class="row-fluid">
            <table class="table table-bordered table-responsive table-striped" id="contentData-list">
                <thead>
                    <tr>
                        <th>
                            <a class="table-header" field-name="Id">
                                Id
                            </a>
                        </th>
                        <th>
                            <a class="table-header" field-name="ContentID">
                                ContentID
                            </a>
                        </th>
                        <th>
                            <a class="table-header" field-name="DatetimeInserted">
                                DatetimeInserted
                            </a>
                        </th>
                        <th>
                            <a class="table-header" field-name="SpecificParam">
                                SpecificParam
                            </a>
                        </th>
                        <th>
                            <a class="table-header" field-name="Language">
                                Language
                            </a>
                        </th>
                        <th>
                            <a class="table-header" field-name="Text">
                                Text
                            </a>
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div id="loading-msg" class="loading-image">
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {


        $("#contentData-list").ajaxGrid({
            pageSize: 20,
            defaultSortExpression: 'Id',
            defaultSortOrder: 'asc',
            tableHeading: '.table-header',
            url: '@Url.Action("FindAll","ContentData")',
            requestType: 'post',
            loadingImage: $('#loading-msg'),
            NoRecordsFound: 'No Records Found',
            postContent: [
                  {
                      control: $('<button type="button" class="btn btn-primary" ' +
                          'onclick=\'showEditForm(this,"Edit","@Url.Action("EditUser","ContentData")",400,350,"user-loading-message")\'>' +
                          '<small class="glyphicon glyphicon-edit"></small>' +
                          ' Edit </button>')
                  },
                  {
                      control: $('<button type="submit" class="btn btn-danger" ' +
                          'onclick=\'return deleteRecord(this,"user-loading-message","ContentData/DeleteUser","Are you sure you want to Delete?","refreshContent()")\'>' +
                          '<small class="glyphicon glyphicon-remove"></small>' +
                          ' Delete </button>'),
                      properties: [
                          {
                              propertyField: 'input[type=hidden]#ID',
                              property: 'value',
                              propertyValue: 'ID'
                          }
                      ],
                      removeWhen: { property: 'UserType', value: 'Admin' }
                  }
            ],
            id: 'Id',
            success: function (response) {
                console.log(response);
            }
        });
    });
    debugger;
    function refreshContent() {
        $("#contentData-list").trigger('refresh');
    }
</script>

