﻿@{
    ViewBag.Title = "Index";
    @model SmsCrud.Model.Service

}


<div class="row-fluid form-group">
    <div id="message" style="display: none"></div>
</div>

<div class="content maincontainer">
    <div class="col-xs-3">
        @using (@Html.BeginForm("Index", "Content", FormMethod.Post, new { @class = "form-horizontal" }))
        {

            @Html.HiddenFor(x => x.ID, new { @class = "form-control" })

            <div class="form-group">
                <div class="col-xs-4"> @Html.LabelFor(x => x.OperatorID, new { @class = "form-lbl" }) </div>
                <div class="col-xs-8"> @Html.TextBoxFor(x => x.OperatorID, new { @class = "form-tb" }) </div>
            </div>

            <div class="form-group">
                <div class="col-xs-4"> @Html.LabelFor(x => x.ContentID, new { @class = "form-lbl" }) </div>
                <div class="col-xs-8"> @Html.TextBoxFor(x => x.ContentID, new { @class = "form-tb" }) </div>
            </div>

            <div class="form-group">
                <div class="col-xs-4"> @Html.LabelFor(x => x.ContentName, new { @class = "form-lbl" }) </div>
                <div class="col-xs-8"> @Html.TextBoxFor(x => x.ContentName, new { @class = "form-tb" }) </div>
            </div>

            <div class="form-group">
                <div class="col-xs-4"> @Html.LabelFor(x => x.ContentGenerationType, new { @class = "form-lbl" }) </div>
                <div class="col-xs-8"> @Html.TextBoxFor(x => x.ContentGenerationType, new { @class = "form-tb" }) </div>
            </div>

            <div class="form-group">
                <div class="col-xs-4"> @Html.LabelFor(x => x.EndTime, new {@class = "form-lbl"}) </div>
                <div class="col-xs-8"> @Html.TextBoxFor(x => x.EndTime, new {@class = "form-tb"}) </div>
            </div>

            <div class="form-group">
                <div class="col-xs-4"> @Html.LabelFor(x => x.FOCsms, new {@class = "form-lbl"}) </div>
                <div class="col-xs-8"> @Html.TextBoxFor(x => x.FOCsms, new { @class = "form-tb" }) </div>
            </div>

            <div class="form-group">
                <div class="col-xs-4"> @Html.LabelFor(x => x.FireTime, new {@class = "form-lbl"}) </div>
                <div class="col-xs-8"> @Html.TextBoxFor(x => x.FireTime, new {@class = "form-tb"}) </div>
            </div>

            <div class="form-group">
                <div class="col-xs-4"> @Html.LabelFor(x => x.BillingGateID, new {@class = "form-lbl"}) </div>
                <div class="col-xs-8"> @Html.TextBoxFor(x => x.BillingGateID, new { @class = "form-tb" }) </div>
            </div>

            <div class="form-group">
                <div class="col-xs-4"> @Html.LabelFor(x => x.Sender, new { @class = "form-lbl" }) </div>
                <div class="col-xs-8"> @Html.TextBoxFor(x => x.Sender, new { @class = "form-tb" }) </div>
            </div>

            <div class="form-group">
                <div class="col-xs-4"> @Html.LabelFor(x => x.SMSGateID, new { @class = "form-lbl" }) </div>
                <div class="col-xs-8"> @Html.TextBoxFor(x => x.SMSGateID, new { @class = "form-tb" }) </div>
            </div>

            <div class="form-group">
                <div class="col-xs-4"> @Html.LabelFor(x => x.SMSonTrialEnd, new {@class = "form-lbl"}) </div>
                <div class="col-xs-8"> @Html.TextBoxFor(x => x.SMSonTrialEnd, new {@class = "form-tb"}) </div>
            </div>

    <div class="form-group">
        <div class="col-xs-4"> @Html.LabelFor(x => x.SMSonTrialEnd, new { @class = "form-lbl" }) </div>
        <div class="col-xs-8"> @Html.TextBoxFor(x => x.SMSonTrialEnd, new { @class = "form-tb" }) </div>
    </div>





            <div class="row-fluid">
                <input type="submit" name="SubmitLogin" value="Save" class="btn btn-danger right" />
            </div>



        }
    </div>


    <div class="col-xs-9">
        <div class="row-fluid">
            <table class="table table-bordered table-responsive table-striped" id="content-list">
                <thead>
                    <tr>
                        <th>
                            <a class="table-header" field-name="Id">
                                Id
                            </a>
                        </th>
                        <th>
                            <a class="table-header" field-name="DefaultName">
                                Default Name
                            </a>
                        </th>
                        <th>
                            <a class="table-header" field-name="Active">
                                IsManual
                            </a>
                        </th>
                        <th>
                            <a class="table-header" field-name="IsManual">
                                Active
                            </a>
                        </th>
                        <th>
                            <a class="table-header" field-name="WorkName">
                                WorkName
                            </a>
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div id="loading-msg" class="loading-image">
            </div>
        </div>
    </div>
</div>

<script>
    $(function() {


        $("#content-list").ajaxGrid({
            pageSize: 20,
            defaultSortExpression: 'Id',
            defaultSortOrder: 'asc',
            tableHeading: '.table-header',
            url: '@Url.Action("FindAll","Content")',
            requestType: 'post',
            loadingImage: $('#loading-msg'),
            NoRecordsFound: 'No Records Found',
            postContent: [
                  {
                      control: $('<button type="button" class="btn btn-primary" ' +
                          'onclick=\'showEditForm(this,"Edit","@Url.Action("EditUser","Content")",400,300,"user-loading-message")\'>' +
                          '<small class="glyphicon glyphicon-edit"></small>' +
                          ' Edit </button>')
                  },
                  {
                      control: $('<button type="submit" class="btn btn-danger" ' +
                          'onclick=\'return deleteRecord(this,"user-loading-message","Content/DeleteUser","Are you sure you want to Delete?","refreshContent()")\'>' +
                          '<small class="glyphicon glyphicon-remove"></small>' +
                          ' Delete </button>'),
                      properties: [
                          {
                              propertyField: 'input[type=hidden]#ID',
                              property: 'value',
                              propertyValue: 'ID'
                          }
                      ],
                      removeWhen: { property: 'UserType', value: 'Admin' }
                  }
            ],
            id: 'Id',
            success: function (response) {
                console.log(response);
            }
        });
    });
    debugger;
    function refreshContent() {
        $("#content-list").trigger('refresh');
    }
</script>
